body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
  }

  canvas {
    position: absolute !important;
    display: none;
  }
  .container-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  .result-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
  }
  .result-container > div {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem;
    margin: 5px 0;
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
  }

  #emotion {
    background: #444;
  }
  #gender {
    background: #444;
  }
  video {
    width: 100%;
  }
  header {
  color: white;
  width: 100%;
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

header img{
    height: 100%;
    width:4rem;
    padding:5px 20px;
    
}
